# Ignore Vivado logs and journals
**/vivado*.log
**/vivado*.jou 

# Ignore all subdirectories of the vivado projects EXCEPT the src directory
hw/vivado/*/*/
!hw/vivado/*/*.srcs/

# Ignore everything except scripts in the script directory
scripts/**
!scripts/vivado/**/batch/*.tcl
!scripts/vivado/**/batch/*.py
!scripts/**/*.py
