# Ignore Vivado logs and journals
**/vivado*.log
**/vivado*.jou 

# Ignore all subdirectories of the vivado projects EXCEPT the src directory
hw/vivado/p6003_2_47_151_old/

hw/vivado/*/*/
hw/vivado/*/*.xpr
!hw/vivado/*/*.srcs/
hw/vivado/*/*.srcs/**/bd/
!hw/vivado/*/*.tcl

# Ignore everything except scripts in the script directory
scripts/**
!scripts/vivado/**/batch/*.tcl
!scripts/vivado/**/batch/*.py
!scripts/**/*.py
