## Ignore Vivado logs and journals
**/vivado*.log
**/vivado*.jou 
**/*.log
**/*.xsa

# Ignore the hidden xilinx folders
**/.Xil/
**/.gen/

# Ignore all subdirectories of the vivado projects EXCEPT the src directory
hw/
vivado/work/
vivado/pentekBaseDesign/*/
!vivado/pentekBaseDesign/*.tcl
!vivado/pentekBaseDesign/*.xpr
!vivado/pentekBaseDesign/*.srcs/
vivado/pentekBaseDesign/*.srcs/**/bd/

